<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-version"
    version="0.0.1">

    <name>Version</name>
    <description>
        This plugin will return the version of your App that you have set in
        packaging it. I.e. it will always match the version in the app store.
    </description>
    <license>MIT</license>

    <js-module src="www/version.js">
       <clobbers target="cordova.version" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <plugins-plist key="Version" string="Version" />

        <config-file target="config.xml" parent="/*">
            <feature name="Version">
                <param name="ios-package" value="Version" />
            </feature>
        </config-file>

        <header-file src="src/ios/Version.h" />
        <source-file src="src/ios/Version.m" />
    </platform>
</plugin>
